h1 {
    text-align: center;
}

.plotly-wrapper {
    /* default width 100% */
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 15% 35%;
}

.status-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#modifyWordInput {
    width: 50%
}

/* bind vector axis click */
.yaxislayer-above {
    cursor: pointer;
    pointer-events: all;
}