body {
    /* match Plotly defaults */
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

#header {
    margin: 50px 50px 30px;
}

#header h1 {
    display: inline-block;
    font-size: 3em;
    margin: auto 50px;
}

#header a {
    display: inline-block;
    margin: auto 20px;
    font-weight: bold;
}

#loading-text {
    text-align: center;
    margin-bottom: 10px;
}

#plots-container {
    height: 70vh;
    display: flex;
}

#scatter-container {
    flex: 50;
    display: flex;
    flex-direction: column;
}

#scatter-buttons {
    margin: 5px auto 5px 5px;
}

#plotly-magnify {
    flex: 0 0 60px; /* fixed width */
}

#plotly-vector {
    flex: 40;
}

#plotly-scatter {
    flex-grow: 1;
}

#plots-status-bar {
    display: flex;
}

#word-entry {
    flex: 1;
}

#modify-word-message {
    flex: 1;
}

#modify-word-input {
    width: 50%
}

/* bind vector axis click */
.yaxislayer-above {
    cursor: pointer;
    pointer-events: all;
}

details {
    margin: 10px auto;
}

details > form {
    margin: 10px auto;
}

output {
    display: inline-block;
    width: 15em;
}

#user-features-form {
    display: inline-flex;
    flex-direction: column;
    margin-left: 3%;
}

.user-features-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.user-feature-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.user-feature-entry {
    display: flex;
    height: 175px;
    margin: 5px;
}

.user-feature-entry textarea {
    flex: 1;
    margin: 5px;
}

#user-feature-message {
    margin-left: 10%;  /* good size? */
}

.dropdown {
    height: 20px;
    width: 100px; 
    color:blue;
    display: inline-block;

}

.button {
    height: 20px;
    width: 100px;
    display: inline-flex;
}
