h1 {
    text-align: center;
}

#links {
    text-align: center;
}

#plots-container {
    /* default width 100% */
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 15% 35%;
}

#scatter-container {
    display: flex;
    flex-direction: column;
}

#plotly-scatter {
    flex-grow: 1;
}

#plots-status-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#modify-word-input {
    width: 50%
}

/* bind vector axis click */
.yaxislayer-above {
    cursor: pointer;
    pointer-events: all;
}

details {
    margin-top: 10px;
    margin-bottom: 10px;
}

details > form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-feature-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-feature-area {
    display: flex;
    flex-direction: column;
}

.user-feature-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
}

.user-feature-feature-set {
    margin: 5px;
}